$header-backoffice__logo-bg-color: $lightest-color !default;
$header-backoffice__bg-color: $primary-color !default;
$header-backoffice__txt-color: $lightest-color !default;

$header-backoffice__logo-width: 180px !default;
$header-backoffice__logo-padding: O !default;
$header-backoffice__logo-font-size: 16px !default;

$header__height: $header-height;

.header {
  position: sticky;
  top: 0;
  z-index: 200;
  width: 100%;
  background-color: $header-backoffice__bg-color;
  color: $header-backoffice__txt-color;
  font-size: 0;
  @include clearfix;

  .header__logo {
    display: inline-block;
    vertical-align: top;
    width: $header-backoffice__logo-width;
    height: $header__height;
    padding: $header-backoffice__logo-padding;
    background-color: $header-backoffice__logo-bg-color;
    color: $lightest-color;
    font-size: $header-backoffice__logo-font-size;
    text-align: center;

    .header__logo-text {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      text-align: center;
      transform: translate(-50%,-50%);
    }

    .header__logo-img {
      display: block;
      height: 100%;
      margin: 0 auto;
    }
  }

  .header__main-nav {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;

    .main-menu {
      vertical-align: top;

      .main-menu__link {
        height: $header__height;
        line-height: $header__icon-height;
      }
    }
  }

  .header__user-nav {
    float: right;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    text-align: right;

    .icon-menu {
      .icon-menu__link {
        height: $header__height;

        .icon-menu__icon {
          padding: $outer-padding;
          font-size: $header__icon-height;
        }
      }
    }
  }
}