$main-menu__item-txt-color: $lightest-color !default;
$main-menu__item-bg-color: transparent !default;
$main-menu__item-border-size: 1px !default;
$main-menu__interaction-bg-color: $grey-dark !default;
$main-menu__submenu-txt-color: $lightest-color !default;
$main-menu__submenu-bg-color: $main-menu__interaction-bg-color !default;

$main-menu__item-padding: $outer-padding !default;
$main-menu__txt-size: 14px !default;
$main-menu__submenu-item-padding: calc(#{$main-menu__item-padding} / 2) !default;

.main-menu {
  display: inline-block;
  width: auto;
  margin-bottom: 0;
  padding-left: 0;
  font-size: 0;
  list-style: none;

  .main-menu__item {
    display: inline-block;
    vertical-align: middle;
    border-right: $main-menu__item-border-size solid $main-menu__item-txt-color;
    background-color: $main-menu__item-bg-color;
    font-size: $main-menu__txt-size;
    text-transform: uppercase;

    &:first-child {
      border-left: $main-menu__item-border-size solid $main-menu__item-txt-color;
    }

    &:hover,
    &:focus,
    &.selected,
    &.active {
      background-color: $main-menu__interaction-bg-color;

      .main-menu__link {
        color: $icon-menu__interaction-txt-color;
        text-decoration: none;

        &::after {
          color: $icon-menu__interaction-txt-color;
        }
      }
    }
  }

  .main-menu__link {
    display: inline-flex;
    padding: 10px 15px;
    color: $main-menu__item-txt-color;

    //Adding sub-menu arrow by default...
    &::after {
      content: "\f0dd";
      display: block !important;
      position: absolute;
      bottom: 5px;
      left: 50%;
      line-height: 1;
      color: $main-menu__item-txt-color;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translateX(-50%);
    }

    //... removing it if no sub-menu
    &:only-child::after {
      content: "";
    }

    //Display sub-menu on hover
    &:hover + .main-menu__sub-menu {
      display: block;
    }
  }

  .main-menu__link-text {
    align-self: center;
  }

  .main-menu__sub-menu {
    display: none;
    position: absolute;
    left: calc(#{$main-menu__item-border-size} * -1);
    z-index: 200;
    padding-left: 0;
    min-width: calc(100% + #{$main-menu__item-border-size} * 2);
    background-color: $main-menu__submenu-bg-color;
    list-style: none;

    .main-menu__sub-menu-item {
      border-top: $main-menu__item-border-size solid $icon-menu__interaction-txt-color;

      &:first-child {
        border-top-width: 0;
      }
    }

    .main-menu__sub-menu-link {
      display: inline-block;
      padding: $main-menu__submenu-item-padding;
      width: 100%;
      color: $icon-menu__interaction-txt-color;
      white-space: nowrap;
      text-transform: capitalize;
    }

    &:hover {
      display: block;
    }
  }
}
