
{% include "@DoudouBase/component/js/select2/_select2.html.twig" %}
{% include "@DoudouBase/component/datepicker/_datepicker.html.twig" %}
{% include "@DoudouBase/component/richtext/_richtext.html.twig" %}
{% include "@DoudouBase/component/js/target/_target--ajax-content.html.twig" %}
{% block javascripts_bottom %}{% endblock %}