$top-filter__txt-color: $grey-darker !default;
$top-filter__custom-input-bg-color: $lightest-color !default;
$top-filter__custom-input-border-color: $grey-medium !default;
$top-filter__custom-input-txt-color: $grey-medium !default;

$top-filter__font-size: 16px !default;
$top-filter__custom-input-side-margin: 14px !default;
$top-filter__custom-input-size: 22px !default;
$top-filter__custom-input-border-size: 1px !default;

$top-filter__custom-input-content: "X" !default;

.top-filter {
  display: inline-block;
  margin-top: $row-margin-bottom;
  color: $top-filter__txt-color;

  .top-filter__input {
    display: none;
  }

  .top-filter__input:checked + .top-filter__custom-input::after {
    content: $top-filter__custom-input-content;
    display: inline-block;
    width: $top-filter__custom-input-size;
    line-height: $top-filter__custom-input-size;
    font-size: $top-filter__custom-input-size;
    text-align: center;
  }

  .top-filter__custom-input {
    float: left;
    margin-right: $top-filter__custom-input-side-margin;
    width: $top-filter__custom-input-size;
    height: $top-filter__custom-input-size;
    background-color: $top-filter__custom-input-bg-color;
    border: $top-filter__custom-input-border-size solid $top-filter__custom-input-border-color;
    color: $top-filter__custom-input-txt-color;
    fill: $top-filter__custom-input-txt-color;
  }

  .top-filter__text {
    font-size: $top-filter__font-size;
  }
}