<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <!-- Don't authorized IE compatibility mode -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        {% include "@DoudouBase/layout/css/_css.html.twig" %}
        {% block stylesheets %}{% endblock %}

        <!-- FAVICONS -->
        {% block favicon %}{% endblock %}

        {% include "@DoudouBase/layout/js/_javascript-top.html.twig" %}
        {% block javascripts_top %}{% endblock %}
    </head>
    <body class="body">
        <div style="display:none;">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <symbol id="i-menu-burger" viewBox="0 0 24 24">
                    <path d="M2 15.5v2h20v-2H2zm0-5v2h20v-2H2zm0-5v2h20v-2H2z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </symbol>
                {% block additionnalSVG %}{% endblock %}
            </svg>
        </div>
        {% block header %}

        {% endblock %}

        {% block leftCol %}

        {% endblock %}

        <div class="main {% block mainAdditionalClass %}{% endblock %}" role="main">
            <div class="row">
                <div class="col">
                    {% include "@DoudouBase/layout/_flashbag__container.html.twig" %}
                </div>
            </div>
            {% block content %}

            {% endblock %}

            {% block component_twig %}

            {% endblock %}
        </div>

        <footer class="footer bg-dark">
            {% block footerContent %}{% endblock %}
        </footer>
        {% include "@DoudouBase/layout/js/_javascript-bottom.html.twig" %}
    </body>
</html>
