{% extends "@DoudouBase/layout/layout--backoffice.html.twig" %}

{% block title %}
    Train Bike
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}{{ (app_version is defined) ? "?version=" ~ app_version : "" }}">
{% endblock %}

{% block header %}
    {% include "@DoudouBase/layout/_header.html.twig" %}
{% endblock %}

{% block footerContent %}
{% endblock %}



