@import "../../common/tools/vars-common";

/*********************/
/**** MAIN COLORS ****/
/*********************/

$secondary-blue: mix($blue-medium, $blue-light);

/***********************/
/**** MAIN MEASURES ****/
/***********************/

$outer-padding: 10px;

$header-icon-height: 24px;
$header-height: calc(#{$header-icon-height} + 2 * #{$outer-padding});

$left-col-width: 290px;
$left-col-header-side-padding: 32px;

/**** DESKTOP MEASURES ****/

$outer-padding--desktop: 14px;

$header-icon-height--desktop: 32px;
$header-height--desktop: calc(#{$header-icon-height--desktop} + 2 * #{$outer-padding--desktop});

/**********************/
/***** COMPONENTS *****/
/**********************/

/*** BTN ***/

$btn--blue-grey__bg-color: $secondary-blue;

/*** CRUD-LIST ***/

$crud-list__item-bg-color--hover: $secondary-blue;