.constant {
  padding: 5px;
  border-radius: 3px;

  &.WEIGHT{
    border:1px solid $weight-lighter;
    background-color: $weight-normal;
  }

  &.PULS{
    border:1px solid $puls-lighter;
    background-color: $puls-normal;
  }

  &.SATURATION {
    border:1px solid $sat-lighter;
    background-color: $sat-normal;
  }

  &.TEMPERATURE{
    border:1px solid $temperature-lighter;
    background-color: $temperature-normal;
  }

  &.GLYCEMIA{
    border:1px solid $glycemia-lighter;
    background-color: $glycemia-normal;
  }

}

