$small-title__color: #333333 !default;

$simple-box__padding: 16px !default;
$simple-box__border-color: #DBDBDB !default;
$simple-box__bg-color: #FFFFFF !default;

/** Breakpoints **/
$breakpoint-xs: 360px;
$breakpoint-m: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;

// Small devices
@mixin null {
  @media (min-width: 0px) {
    @content;
  }
}

// Small devices
@mixin xs {
  @media (min-width: #{$breakpoint-xs}) {
    @content;
  }
}

// Medium devices
@mixin m {
  @media (min-width: #{$breakpoint-m}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$breakpoint-lg}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$breakpoint-xl}) {
    @content;
  }
}

@mixin small-title {
  color: $small-title__color;
  font-size: 1rem;
  font-weight: 600;
}

@mixin simple-box {
  padding: 16px;
  background-color: $simple-box__bg-color;
  border: 1px solid $simple-box__border-color;
}

@mixin reset-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}