/*********************/
/**** MAIN COLORS ****/
/*********************/

/****** PALETTE ******/

$lightest-color: #FFFFFF;
$grey-lighter: #F2F2F2;
$grey-light: #DBDBDB;
$grey-medium: #999999;
$grey-dark: #5B5B5B;
$grey-darker: #333333;
$darker : #343a40;
$darkest-color: #000000;

$blue-dark: #4580ad;
$blue-medium: #89ADC2;
$blue-light: #E9EEF0;

$red: #FF0000;
$red-light: #ff6454;

$orange: #EE6039;
$green: #6FD806;

/****** CONTEXTUELLE ******/

$primary-color: $blue-dark;

$active-bg-color: $grey-dark;
$active-txt-color: $lightest-color;

$background-light-color: $blue-light;
$background-light-color--grey: $grey-lighter;

$border-color: $blue-medium;
$border-color--grey: $grey-medium;

$title-color: $grey-darker;

$error-color: $red;
$delete-color: $red;

$admin-related-color: $orange;

$required-color: $red-light;

/***********************/
/**** MAIN MEASURES ****/
/***********************/

$row-margin-bottom: 24px;

/**********************/
/******* MIXINS *******/
/**********************/

$small-title__color: $title-color;

$simple-box__border-color: $grey-light;
$simple-box__bg-color: $lightest-color;

/**********************/
/***** Buttons ********/
/**********************/
$weight-lighter: #4bbb13;
$weight-normal: #60e41f;

$puls-lighter: #ff5b6b;
$puls-normal: #dc3545;

$sat-lighter:#eccb64;
$sat-normal:#fac00b;

$temperature-lighter: #4fa4ff;
$temperature-normal: #007bff;

$glycemia-lighter: #78dcef;
$glycemia-normal: #2fa2b8;