{#
Params:
    {
        'items' : Object[],
        'action' : string,
        'additional_class': ?string,
        'route_params': ?{}
        'has_limit_filter': ?bool = false
        'landings' ; ?array = null
        'default_landing' = ?int = null
    }
#}
{% set route_params = route_params|default([])%}
{% set route_params_merged = route_params|merge(app.request.query.all) %}
{% set additional_class = additional_class|default(null) %}
{% set has_limit_filter = has_limit_filter|default(false) %}
{% set landings = landings|default(null) %}
{% set default_landing = default_landing|default(null) %}
<div class="crud-list-paginator row {{ additional_class }}">
    <div class="col-12 col-md-6">
        {{ render_limitator_filter(items,{
            routeName: action,
            routeParams: route_params_merged,
            landings: landings,
            defaultLanding: default_landing
        },
            has_limit_filter
        ) }}
    </div>
    {% if items.haveToPaginate %}
        <div class="col-12 col-md-6">
            {{ pagerfanta(
                items, 'twitter_bootstrap4_translated', {
                    routeName: action,
                    routeParams: route_params_merged,
                    'prev_message': "«",
                    'next_message': "»"
                }
            ) }}
        </div>
    {% endif %}
</div>
