<span class="d-flex">
    {{ 'global.pagination.see'|trans }}
<div class="dropdown">
    <div class="btn-limit dropdown-toggle ml-2 mr-2" type="button" id="limitator-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ current_landing }}
    </div>
    <div class="dropdown-menu" aria-labelledby="limitator-dropdown">
        {% for landing in landings %}
            <a class="{{ landing.class }}"
               href="{{ landing.route }}">
                {{ landing.limit }}</a>
        {% endfor %}
    </div>
</div>
{{ 'global.on'|trans }} {{ nb }} {{ 'global.result'|transchoice(nb) }}
</span>
