{%- block date_picker_widget -%}
    {{- block('date_picker_container') -}}
    <script type="text/javascript">
        $(function () {
            $('#{{ id }}').datepicker();
        });
    </script>
{%- endblock date_picker_widget -%}
